<configuration>
	<connectionStrings>
		<add name="ShopDB" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=Shop;Integrated Security=True"/>
		<add name="_ShopDB" providerName="System.Data.OleDb" connectionString="Provider=Microsoft.Ace.OLEDB.12.0;Data Source=Shop.mdb"/>
	</connectionStrings>
</configuration>