<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="welcome.html"/>
			</files>
		</defaultDocument>
		<modules>
			<add name="htmx" type="BasicWebApp.HtmxToHtmlModule"/>
		</modules>
		<handlers>
			<add name="greeter" type="BasicWebApp.GreetingHandler" verb="GET" path="*.gwh"/>
		</handlers>
	</system.webServer>
</configuration>